# ignore files with no extention:
*
!*/
!*.*

# normal ignores:
*.exe
*.dll
*.so
*.pyd
*.deps
nimcache
__pycache__/
tests/generated/*_native.c
tests/generated/pixie_images/*.png
*.pdb
*.ilk
.*
!.github/
!.github/**
