name: Node
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: jiro4989/setup-nim-action@v2
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        nim-version: stable
    - uses: actions/setup-node@v4
      with:
        node-version: '18'
    - name: Build test DLL
      run: nim c --mm:arc --app:lib -d:gennyNode -o:tests/generated/libtest.so tests/test.nim
    - name: Install Node dependencies
      run: npm install ffi-napi ref-struct-napi ref-array-napi
      working-directory: tests
    - name: Run Node test
      run: node test_node.js
      working-directory: tests
